<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
	<title>{% block title %}Hello Application{% endblock %}</title>
	{% block head %}{% endblock %}
    </head>
    <body>
	{% block body %}{% endblock %}
    </body>
</html>
