<div id="mainmenu">
  <ul>
    <a href="{{ path('hello', { 'name': 'mark' }) }}"><li id="btnHome">Home</li></a>
    <a href="{{ path('about') }}"><li id="btnAbout">About</li></a>
    <a href="#"><li id="btnGroups">Groups</li></a>
    <a href="#"><li id="btnMessages">Messages</li></a>
    <a href="#"><li id="btnLogout">Logout</li></a>
  </ul>
</div>
