#logo { 
  height: 100px;
  width: 100%;
  background: url(../images/whatDigsLogoImage.png) no-repeat;
}

#banner {
  height: 100px;
  width: 100%;
  position: relative;
  left: 400px;
  top: -100px;
  background: url(../images/whatDigsTopImage.png) repeat-x;
}

#sidepanel {
  position: relative;
  top: -104px;
  width: 275px;
  height: 1200px;
  background: url(../images/whatDigsSideImage.png) repeat;
  float: left;
}

#mainblock {
  width: 80%;
  height: 1200px;
  position: relative;
  top: -104px;
  margin-left: 20%;
}

/* menu */
#mainmenu {
  margin-top: 25px;
  margin-left: 40%;
  margin-right: 10%;
  padding: 5px;
  font-family: Verdana, sans-serif, Times;
  font-size: 12px;
}

#mainmenu ul {
  list-style: none;
  display: inline;
}

#mainmenu li {
  width: 130px;
  height: 15px;
  display: inline;
  float: left;
  padding: 3px 10px;
}

#mainmenu a, a:visited {
  text-decoration: none;
  color: black;
}

#mainmenu li:hover {
  background: url(../images/whatDigsMenuItem.png) no-repeat;
}
